# Ignore all .txt files
*.txt

# Ignore all .exe files in the project
*.exe

# Ignore .exe files inside /solve-problems/ directory
/solve-problems/*.exe
/solve-problems/*.txt
/solve-problems/*.txt
/solve-problems/*.o
/solve-problems/practice_anagram_string.c
/solve-problems/preview.c
/solve-problems/*.cpp
/solve-problems/*.java
/solve-problems/*.py


# Ignore VSCode config folder
.vscode/
